body{
    font-family: 'Gabarito', sans-serif;
}
html {
    scroll-behavior: smooth ;
}
.header__nav{
    padding: 10px;
    display: flex;
    background: #990304;
    border-bottom: 3px solid #650202;
    height:8vh;
    
}
.nav__div{
    flex-grow: 2;
}
.nav__img{
    max-width: 300px;  
}
.nav__ul{
    display: flex;
    flex-grow: 1;
}

.ul__li{
    background: #c50409;
    list-style: none;
    flex-grow: 1;
    max-width: 200px;
    text-align: center;
    margin: 10px 20px;
    padding: 5px;
    border-radius: 20px;
    font-weight: 700;
    box-shadow: #000 0px 0px 0px;
    letter-spacing: 2px;
}

.ul__li:hover{
    box-shadow: #750000 0px 0px 5px;
}

.ul__li a{
    text-decoration: none;
    color: #ffffff;
}

.div__cont--1{
    display: flex;
    background-image: url(FONDO.png);
    object-fit: cover;
    height: 92vh;
}

.divCont__div{
    display:flex ;
    flex-direction: column;
    padding: 30px;
    flex-grow: 2;
    text-align: center;
    justify-content: center;
}
.div__h1{
    color: #ffffff;
    font-size: 80px;
    margin-bottom: 0;
    
}
.div__p--1{
    color: #ffffff;
    font-size: 30px;
}

.div__img{
    flex-grow: 1;
}

body > div{
    display: flex;
    background-image: url(fondito.png);
}

.div__cont--2{
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.div__h2{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
    background-color: #c50409;
    padding: 20px 90px;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px;
    text-align: center;
}

.div__p--2{
    max-width: 900px;
    background-color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    padding: 30px;
    margin: 20px;
    text-align: center;
    border-bottom:3px solid #c50409 ;
    border-radius: 70px 70px 9px 9px;
}
.div__cont--3{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.div__h3--1{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
    background-color: #c50409;
    padding: 20px 90px;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px;
}

.div__div--1 > div{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 30px;
    background-color: #c31319;
    padding: 20px 90px;
    text-align: center;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px;
}

.div__h5--4{
    background: #650202;
}
.div__cont--4{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Clientes__div--1{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.Clientes__div--2{
    display: flex;
    width: 100%;
    flex-grow: 2;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div__h3--2{
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 30px;
    background-color: #c31319;
    padding: 20px 90px;
    text-align: center;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px;
}

.div__div{
    border-radius: 30px;
    margin: 40px;
    background: #a54141;
    height: 400px;
    width: 300px;
}
.clientes__div--p{
    position:relative;
    bottom: 50px;
    color: #ffffff;
    font-size: 20px;
    background-color: #c31319;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px;
}

.Clientes__div--2 img{
    background: #232323;
    height: 350px ;
    width: 250px;
}

.div__cont--5{
    height: auto;
    text-align: center;}

#mapa{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    outline: 5px solid #a54141;
}
.map{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    max-width: 800px;
}

.div__p--3{
    background-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 30px;
    text-align: center;
    border-bottom:3px solid #c50409 ;
    margin-top: 40px;
}
.map--2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.div__h4{
    color: #ffffff;
    font-size: 50px;
    background-color: #c31319;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    box-shadow: #545353 0px 0px 5px; 
}
.div__cont--6{
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.div__form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div__div--2{
    background: #d42e30;
    width: 400px;
    height: auto;
    border-radius: 40px;
    padding: 20px;
    box-shadow: #870303 0px 0px 5px; 
}

.Div__div{
    background: #ac1818;
    padding: 10px;
    border-radius: 50px;
    box-shadow: #870303 0px 0px 5px; 
}

.div__form input , select , textarea{
    resize: none;
    outline: none;
    text-align: center;
    height: 30px;
    background: transparent;
    margin: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    border-bottom: 3px solid #650202
    
}

.div__form button, h3{
    margin: 20px;
    background: #c11918;
    border: none;
    align-self: center;
    padding: 10px 40px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    box-shadow: #870303 0px 0px 5px; 
    transition: background .4s;
}
::placeholder{
    color: #ffffff;
}
select:focus{
    color:#000
}
textarea{
    height: 40px;
}

.div__form input:focus , select:focus , textarea:focus{
    transition: border-radius,background .3s  ;
    background: #810c0c;
    border-radius: 10px;
}
.div__form button:hover{
    background: #650202;
}

footer{
    background-image: url(FONDO.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__ul{

    color:#232323;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    width: 150px;
}
.footer__ul a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    margin: 0 10px;
    size: 30px;
}
.footer__div--1 h6{
    color: #ffffff;
    font-size: 20px;
}

.footer__div--1 p{
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 20px;
}
.footer__div--2{
    display: flex;
    margin-bottom: 30px;
}
.footer__div--2 a {
    color: #ffffff;
    padding: 0 10px;
}
.footer__div--2 a:nth-child(1) {
    border-right:2px solid #650202;
}
.div__h6--js{
    font-size: 30px;
    margin: 10px;
    border-bottom:2px solid #232323;
}
.div__div--js p{
    font-size: 16px;

}
.div__div--js2 p{
    font-size: 16px;
}
.div__button--js{
    margin: 20px;
    background: #6e0e0e;
    border: none;
    align-self: center;
    padding: 10px 40px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
    box-shadow: #870303 0px 0px 5px; 
    transition: background .4s;
}

.div__button--js:hover{
    background: #8f0000;
}



@media only screen and (max-width: 1230px){
    .div__img{
        max-width: 0;  
        display: none;
    }
    .nav__img{
        max-width: 0;
        display: none;
    }
    .nav__div{
        display: none;
    }
    .nav__ul{
        display: flex;
        justify-content: space-between
    }

    }
    .div__cont--5{
        display: flex;
        flex-direction: column;
        height: auto;
    }

@media only screen and (max-width: 770px){
    .div__h3--1{
        font-size: 40px;
    }
    .div__cont--3{
        height: auto;
    }
    .div__h2{
        font-size: 40px;
        text-align: center;
    }
    .div__p--2{
        margin: 40px;
        margin-top: 0;
        font-size:20px;
    }
    .div__cont--5{
        height: auto;
    }
    .ul__li{
        margin: 10px;
    }
}
@media only screen and (max-width: 590px){
.map--2{
    max-width: 300px;
    margin: auto;
}
.header__nav{
    display: none;
}
.div__cont--1{
    height: 100vh;
}
.div__h2{
    margin-top: 30px;
    font-size: 30px;
}
.div__h1{
    margin: 0 auto ;
    font-size: 50px;
}
.div__p--1{
font-size: 20px;
}
.div__cont--2{
    height: auto;
}
}
@media only screen and (max-width: 460px){
.Div__div{
    width: 280px;
}
.div__h2{
    text-align: center;
    margin: 10px;
}
.div__div--2{
    width: 260PX;
}
.div__cont--6{
    height: auto;
    padding: 50px;
}
.div__cont--3{
    padding: 20px;
}
.div__h3--1{
    font-size: 30px;
}


}